# Supabase Credentials
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# AI Assistants Keys
EXPO_PUBLIC_GROQ_API_KEY=YOUR_GROQ_API_KEY
EXPO_PUBLIC_GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Kindwise Plant Diagnostic Keys
EXPO_PUBLIC_CROP_HEALTH_API_KEY=YOUR_CROP_HEALTH_API_KEY
EXPO_PUBLIC_PLANT_ID_API_KEY=YOUR_PLANT_ID_API_KEY
